body{
    overflow-y:hidden;
    text-transform: lowercase;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    height: 100%;
    overflow-y: scroll;
    cursor: url(assets/knife.png), auto;
}

.titles {
  font-family: 'Nosifer', cursive;
}

section {
  margin: 5em;
}

a {
  color: black;
}

a:hover {
}
