body{
    overflow-y:hidden;
    text-transform: lowercase;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    height: 100%;
    overflow-y: scroll;
    background-image: url("assets/scary-vampires-horror.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

h1 {
  font-size: 40px;
}

p {
  font-size: 25px;
}

.titles {
  font-family: 'Nosifer', cursive;
}

#character {
  font-family: 'Nosifer', cursive;
}

.hide-button {
  display: none;
}

section {
  margin: 5em;
}

a {
  color: red;
}

a:hover {
  cursor: pointer;
}
